@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

body {
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  display: flex;
}

#root {
  flex-grow: 1;
}

.login-box-shadow {
  box-shadow:
    0 0 5px rgb(101, 0, 121),
    inset 0 0 3px rgb(101, 0, 121);
}

.custom-box-shadow {
  box-shadow:
    0 0 3px rgb(101, 0, 121),
    inset 0 0 2px rgb(101, 0, 121);
}
